<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gubznf@fhogyrtenqvrag.pbz</string>
	<key>contactName</key>
	<string>Thomas Aylott</string>
	<key>description</key>
	<string>Themes by SubtleGradient (Thomas Aylott)</string>
	<key>name</key>
	<string>SubtleGradient Themes</string>
	<key>uuid</key>
	<string>A4E44C52-A239-4A83-8178-ADF96061333E</string>
</dict>
</plist>
